<div class="visualization">
  <iframe *ngIf="selected_item == 1" class='owl' id="productIfream" runat="server" src="./assets/WebVOWL/index.html#file=file:explosion.json" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"
    allowtransparency="yes"></iframe>
  <iframe *ngIf="selected_item == 2" class='owl' id="productIfream" runat="server" src="./assets/WebVOWL/index.html#file=file:first_reports.json" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"
    allowtransparency="yes"></iframe>
  <iframe *ngIf="selected_item == 3" class='owl' id="productIfream" runat="server" src="./assets/WebVOWL/index.html#file=file:further_information.json" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"
    allowtransparency="yes"></iframe>
  <iframe *ngIf="selected_item == 4" class='owl' id="productIfream" runat="server" src="./assets/WebVOWL/index.html#file=file:victim_details.json" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"
    allowtransparency="yes"></iframe>
  <iframe *ngIf="selected_item == 0" class='owl' id="productIfream" runat="server" src="./assets/WebVOWL/index.html#file=file:extended.json" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
</div>
